.container {
    display: flex; 
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

#result-table {
    max-width: 100vw;
}

table {
    border-spacing: 0;
    text-align
    : center;
}

th {
    padding: 5px;
}

td {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

td.booking-type {
    width: 30vw;
    text-align: left;
}

td.detail {
    width: 20vw;
    text-align: left;
}
td.dates {
    width: 20vw;
}

.hidden {
    display: none;
}

@media print {
    .no-print {
        display: none;
    }

    table {
        width: 100vw;
    }
}